{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}
{% block title %} {% trans "إضافة تقرير" %} {% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#id_org_name").select2({
            'width': '50%'
        });
    });
</script>

{% if request.user.is_authenticated %}
{% if org_prof_pub_check.publish == True or request.user.is_staff %}

<div class="row pt-4 mt-4 mb-4">
    <h1 class="{% if LANGUAGE_CODE == 'ar' %} br_right {% else %} br_left {% endif %}" data-aos="fade-left">
        {% trans "إضافة تقرير" %}</h1>
    <hr>

    <form action="" id="form_rapport" method="post" class="register" enctype="multipart/form-data" data-aos="fade-right">
        {% csrf_token %}
        {% if request.user.is_authenticated and request.user.is_staff %}
        {{ form.org_name|as_crispy_field }}
        {% endif %}
        {{ form.title|as_crispy_field }}
        {{ form.domain|as_crispy_field }}
        {{ form.media|as_crispy_field }}
        <input type="submit" value="{% trans 'إضافة' %}" class="btn btn-block">
    </form>



</div>

{% else %}

<h2 class="text center pt-4 mt-4">{% trans 'ليس لديك الصلاحية لدخول هذه الصفحة' %}</h2>

{% endif %}
{% endif %}


{% endblock %}